<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

    <div class="container border mt-5">
        <h1 class="text-center">Login</h1>
            <form class='form-signin' method='POST'>
                <div class='form-label-group p-2'>
                    <label for="email"><h3>Email</h3></label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your email" required/>
                </div>
                <div class='form-label-group p-2'>
                    <label for="password"><h3>Password</h3></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Your password" required/>
                </div>
                <button class='btn btn-block btn-outline-dark mt-2'>Submit</button>
            </form>
            <a href="/user/signup" class="p-2"><button class="btn btn-block btn-outline-success">New User! Sign Up</button></a>
    </div>
    
</body>
</html>

